* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --green: #085542;
  --gold: #f6d0a3;
  --bege: #d38557e0;
  --black: #242424;
  --white: #fff;
  --okri: #B18959;
  --green-50: #acd8c6;
  --snow: #f4f4f4;
  --green-100: #113E2F;
  --gray-50: #f7f8fa;
}

body {
  background-color: var(--gray-50);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 1s forwards;
}

@keyframes animeLeft {
  to {
    opacity: initial;
    transform: initial;
  }
}
