*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --green: #006859;
    --gold: #f6d0a3;
    --pink: #f8dadb;
    --white: #fff;
    --babyGreen: #C1D9CF;
    --gray-50: #F7F8FA;
}

body{
    background-color: var(--gray-50);
}
