*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --green: #006859;
    --gold: #f6d0a3;
    --pink: #f8dadb;
    --black: #242424;
    --white: #fff;
    --green-50: #acd8c6;
    --gray-50: #F7F8FA;
}

body{
    background-color: var(--gray-50);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
