.formContainer{
    grid-area: main;
    justify-self: center;
    align-self: center;
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    grid-template-areas: 
    "title title"
    "image form"
    "image form";

    h1{
        grid-area: title;
        text-align: center;
        align-self: center;
        letter-spacing: 3px;
        color: var(--green);
        font-family: 'Exo 2', sans-serif;
        text-transform: uppercase;
    }

    form{
        grid-area: form;
        width: 100%;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;

        button{
            padding: .5rem;
            border: none;
            border-radius: 3px;
            background-color: var(--gold);
            color: var(--green);
            transition: .5s all;
            width: 50%;
            align-self: flex-end;
        }
        button:hover{
            background-color: var(--green);
            color: var(--gold);
        }

    }

}

.formFields{
    display: flex;
    flex-direction: column;
    width: 100%;

    input{
        padding: .3rem;
        margin-top: .3rem;
        border: none;
        background: none;
        border-bottom: var(--green) 2px solid;
    }
    label{
        font-family: 'Alegreya Sans', sans-serif;
    }
}

.contactImage{
    grid-area: image;
    width: 100%;
    align-self: flex-start;
}