.headerContainer{
    grid-area: header;
    border: 3px solid var(--gold);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--green);
    padding: 1rem;

    h1{
        color: var(--gold);
        font-family: 'Montserrat', sans-serif;
    }
}