.cardContainer{
    height: 25rem;
    border-radius: 25px;
    padding: 1rem;
    background-color: var(--gold);

    h2{
        font-family: 'Exo 2', sans-serif;
        color: var(--green);
    }
}